{% if form.non_field_errors %}
<div class="alert alert-warning" role="alert">
    {{ form.non_field_errors }}
</div>
{% endif %}
<div class="form-group">
    <div class="input-group {% if form.login.errors %}has-danger{% endif %}">
        <span class="input-group-addon"><i class="fa fa-at fa-fw" aria-hidden="true"></i></span>
        {{ form.login }}
        {{ form.login.errors }}
    </div>
</div>
<div class="form-group">
    <div class="input-group {% if form.password.errors %}has-danger{% endif %}">
        <span class="input-group-addon"><i class="fa fa-key fa-fw" aria-hidden="true"></i></span>
        {{ form.password }}
        {{ form.password.errors }}
    </div>
</div>
<div class="form-group">
    <div class="form-inline remember text-center">
        {{ form.remember }}
        <label for="id_remember" class="ml-2"><small>Remember me</small></label>
    </div>
</div>