{% extends 'base.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load bootstrap4 %}
{% block title %}Login{% endblock %}
{% block content %}
<div id="login" class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {% bootstrap_messages %}
        <h1 class="title mt-5 mb-4 text-center"><i class="fas fa-rocket fa-fw text-info"></i> {{site.name}}</h1>
    {% get_providers as socialaccount_providers %}
    {% if socialaccount_providers %}
        <p class="text-center">{% blocktrans with site.name as site_name %}Please sign in with one
        of your existing third party accounts. Or, <a class="text-info" href="{{ signup_url }}">sign up</a>
        for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
        <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>            
            <div class="login-or">{% trans 'or' %}</div>            
        </div>            
        {% include "socialaccount/snippets/login_extra.html" %}            
    {% else %}
        <p class="text-center">{% blocktrans %}If you have not created an account yet, then please
        <a class="text-info" href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
    {% endif %}            
        <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            {% buttons %}
            <button type="submit" class="btn btn-success px-3 float-right"><i class="fas fa-sign-in-alt fa-fw"></i> Login</button>
            {% endbuttons %}
            <a class="button text-info" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}