{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}Signup{% endblock %}
{% block content %}
<div id="logout" class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-5">
        <div class="my-3">{% bootstrap_messages %}</div>
        <p class="text-center mb-0"><i class="fas fa-sign-out-alt fa-fw icon text-info"></i></p>
        <h1 class="title text-center">Sign Out</h1>        
        <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>        
        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %} {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" /> {% endif %}
            {% buttons %}
            <button type="submit" class="btn btn-danger btn-block my-4"><i class="fas fa-sign-out-alt fa-fw"></i> Sign Out</button>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-4"></div>  
</div>
{% endblock %}