{% extends 'base.html' %}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}Signup{% endblock %}
{% block content %}
<div id="signup" class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 mt-5">
        {% if bootstrap_messages %}
        <div class="my-3">{% bootstrap_messages %}</div>
        {% endif %}
        <p class="text-center mb-0"><i class="fas fa-user-plus fa-fw icon text-info"></i></p>
        <h1 class="title text-center mb-4">Sign up</h1>
        <p class="text-center">{% blocktrans %}Already have an account? Then please <a class="text-info" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            {% buttons %}
            <button type="submit" class="btn btn-success btn-block my-4"><i class="fas fa-sign-in-alt fa-fw"></i> Sign up</button>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-4"></div>
</div>
{% endblock %}