{% extends "base/base.html" %}
{% block titulo %}Delete Post{% endblock %}
{% block content %}
<div class="container" id="tmln">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if user.is_authenticated %}
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
            <div class="alert alert-danger" role="alert"><p>Post can't be deleted.</p></div>
            {% endif %}
            <div class="form-group">
                <div class="alert alert-danger" role="alert">Delete post? <span class="glyphicon glyphicon-trash pull-right" aria-hidden="true"></span></div>
            </div>
            <div class="form-group">
                {% include "posts/post.html" %}
            </div>
            <div class="form-group pull-left">
                <a href="{% url 'timeline' %}" class="btn btn-default">Cancel</a>
            </div>
            <div class="form-group pull-right">
                <button type="submit" class="btn btn-danger" value="Submit">Delete</button>
            </div>
        </form>
        {% else %}
        {% include "core/404.html" %}
        {% endif %}
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}