{% extends "base.html" %}
{% load i18n %}
{% block head_title %}New Post{% endblock %}
{% block content %}
<div class="container">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        {% if user.is_authenticated %}
        <h3>New Post <small>What are you thinking?</small></h3>
        <form action="" enctype="multipart/form-data" method="post">
            <div class="omnibox">
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
            <div class="omnibox">
                <a href="{% url 'timeline' %}" class="btn btn-default">Cancel</a>
                <button type="submit" class="btn btn-success pull-right">Update <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            </div>
        </form>
        {% endif %}
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}