{% extends "base.html" %}
{% block head_title %}{{ usr.userprofile.user.get_full_name }} (@{{ usr.userprofile.user.username }}){% endblock %}
{% block OGFacebook %}
<meta property="og:url"                content="{{ request.build_absolute_uri }}" />
<meta property="og:type"               content="website" />
<meta property="og:title"              content="{{ usr.userprofile.user.get_full_name }} (@{{ usr.userprofile.user.username }})" />
<meta property="og:description"        content="{{ usr.userprofile.bio }}" />
<meta property="og:image"              content="{{ usr.userprofile.header.url }}" />
{% endblock %}
{% block content %}
<div class="container">
    <div class="row" id="prfl">
        {% include "userprofile/userprofile_info.html" %}
    </div>
    <div class="row" id="timeline">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            {% for post in posts %}
            {% include "posts/post.html" %}
            {% endfor %}
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
{% endblock %}