{% extends 'base.html' %}
{% load bootstrap4 %}
{% load thumbnail %}
{% load humanize %}
{% block title %}{% if profile.get_full_name %}{{profile.get_full_name}} - {% endif %}@{{profile.username}}{% endblock %}
{% block content %}
<div id="userprofile" class="row">
    <div class="col-md-3">
        <div class="bg-black-t rounded mb-3">
            <img class="img-fluid rounded-circle px-3 pt-3 pb-1 mx-auto d-block" src="{{profile.userprofile.avatar|thumbnail_url:'avatar'|default:'/media/user/avatar/avatar.png'}}" alt="{{profile.get_full_name}} @{{profile.get_full_name}} avatar.">
            <ul class="list-none p-3 m-0 text-center"> 
                <li class="h6 mb-1">{{profile.get_full_name}}</li>
                <li class="mb-2 text-muted small">@{{profile.username}} {% if profile.is_staff %}<i class="fas fa-check-circle fa-fw text-primary small"></i>{% endif %}</li>
                <li class="mb-1 small">{{profile.userprofile.bio}}</li>
                <li class="mb-1 small"><i class="fas fa-link fa-fw"></i> <a class="text-info" href="{{profile.userprofile.website}}" target="_blank">My Website</a></li>
                <li class="mb-0 small"><span class="text-muted small">Last Login: {{profile.last_login|naturaltime}}</span></li>
            </ul>
            {% if user.is_authenticated %}
            <div class="px-3 pb-3">
                {% if user.username == profile.username %}
                <a class="btn btn-info btn-block" href="{% url 'userprofile_basic' %}" role="button">Edit Profile</a>
                {% elif connected %}
                <a class="btn btn-danger btn-block" href="{% url 'unfollow' profile.username %}" role="button">Unfollow</a>
                {% else %}
                <a class="btn btn-success btn-block" href="{% url 'follow' profile.username %}" role="button">Follow</a>
                {% endif %}
                {% if request.user.username is not profile.username %}
                
                {% endif %}
            </div>
            {% endif %}
        </div>
        {% include 'modules/the_more_you_know.html' %}
    </div>
    <div class="col-md-9">
        <div class="header rounded mb-3">
            <ul class="nav nav-pills nav-fill rounded bg-black-y w-100 stats">
                <li class="nav-item">
                    <a class="nav-link btn-sm text-white" href="#"> Posts: {{posts.count}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-sm text-white" href="#"> Following: {{following}}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn-sm text-white" href="#"> Followers: {{followers}}</a>
                </li>
            </ul>
            <img class="img-fluid rounded" src="{{profile.userprofile.header|thumbnail_url:'header'|default:'/media/user/header/header.png'}}" alt="{{profile.get_full_name}} @{{profile.username}} header.">
        </div>
        <div class="row">
            <div class="col-md-8">
                {% bootstrap_messages %}
                {% if posts %}
                {% for post in posts %}
                {% include 'post/post.html' %}
                {% endfor %}
                {% else %}
                <div class="alert alert-info small" role="alert">
                    There's no posts to show. If you want to see more, please follow more players <a href="#">here</a> or go to the <a href="#">explore</a> section.
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                {% include 'modules/who_to_follow.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}