{% if usr.userprofile.header.url %}
<img id="cbcr" class="img-responsive" src="{{ usr.userprofile.header.url }}">
{% endif %}
<div id="nf">
    <div class="media">
        <div class="media-left">
            <img id="vtr" class="media-object img-circle avatar" src="{{ usr.userprofile.avatar.url }}" alt="{{ usr.userprofile.get_full_name }} avatar.">
        </div>
        <div class="media-body">
            <h3 class="media-heading">{{ usr.get_full_name }} {% if usr.is_staff is True %}<span class="glyphicon glyphicon-ok-circle" data-toggle="tooltip" data-placement="right" title="Site Administrator" aria-hidden="true"></span>{% endif %} <small id="sr">@{{ usr.username }}</small></h3>
            <ul id="dscrpcn">
                <li><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> {{ usr.userprofile.bio }}</li>
                <li><span class="glyphicon glyphicon-globe" aria-hidden="true"></span> <a href="http://maps.google.com/?q={{ usr.userprofile.location }}" target="_blank">{{ usr.userprofile.location }}</a></li>
                <li><span class="glyphicon glyphicon-link" aria-hidden="true"></span> <a href="{{ usr.userprofile.website }}" target="_blank">{{ usr.userprofile.website }}</a></li>
                <li><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> {{ usr.date_joined }}</a></li>
                <li><span class="glyphicon glyphicon-gift" aria-hidden="true"></span> {{ usr.userprofile.date_birth }}</a></li>
                <li id="cntdrs">
                    <ul>
                        {% if posts.count > 0 %}
                        <li>
                            <small>Posts</small>
                            <span>{{ posts.count }}</span>
                        </li>
                        {% endif %}
                        {% if usr.follower.count > 0 %}
                        <li>
                            <small>Followers</small>
                            <span><a href="{% url 'user_followers' usr.username %}">{{ usr.follower.count }}</a></span>
                        </li>
                        {% endif %}
                        {% if usr.following.count > 0 %}
                        <li>
                            <small>Following</small>
                            <span><a href="{% url 'user_following' usr.username %}">{{ usr.following.count }}</a></span>
                        </li>
                        {% endif %}
                    </ul>
                </li>
                <li id="ctlzd">Last Login: {{ usr.last_login }}</li>
            </ul>
        </div>
        <div class="media-right">
            {% if request.user == usr %}
            <form class="navbar-form navbar-right" action="{% url 'userprofile_basic' %}">
                <button type="submit" class="btn btn-info">Edit <span class="glyphicon glyphicon-edit" aria-hidden="true"></span></button>
            </form>
            {% endif %}
        </div>
    </div>
</div>