{% extends "base/base.html" %}
{% block titulo %}Global Timeline{% endblock %}
{% block content %}
<div class="container" id="tmln">
    <div class="row">
        <div class="col-md-3">
            {% include "timeline/timeline_mod_perfil.html" %}
            {% include "timeline/timeline_mod_menu.html" %}
        </div>
        <div class="col-md-6">
            {% include "timeline/timeline_mod_menu_mobile.html" %}
            {% include "timeline/timeline_global_mod_posts.html" %}
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div>
{% endblock %}