{% extends 'base.html' %}
{% block title %}Public Timeline{% endblock %}
{% block content %}
<div id="timeline" class="row">
    <div class="col-md-3">
        {% if user.is_authenticated %}
        {% include 'timeline/timeline_user.html' %}
        {% endif %}
        {% include 'timeline/timeline_menu.html' %}
    </div>
    <div class="col-md-6">
        {% for post in posts %}
        {% include 'post/post.html' %}
        {% empty %}
        <div class="alert alert-info small" role="alert">
            There are no posts to show for the moment.
        </div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <a class="btn btn-success btn-lg btn-block mb-3" href="{% url 'post_create' %}" role="button"><i class="far fa-paper-plane fa-fw mr-1"></i> New Post</a>
        {% include 'modules/the_more_you_know.html' %}
        {% include 'modules/who_to_follow.html' %}
    </div>
</div>
{% endblock %}