body{background:#333;color:#d7dde8;font-family:'Open Sans',sans-serif;height:100vh}

a{color:#5cb85c}
a:hover{color:#449c44;text-decoration:none}

main{padding-top:71px}

.btn{border-radius:0}
.btn .fa{margin-right:5px}
.btn-facebook{background:#3b5998;border-color:#4b6eb9;color:#fff}
.btn-steam{background:#1a1a1a;border-color:#000;color:#fff}
.btn-twitch{background:#6441a5;border-color:#4e3380;color:#fff}
.btn-battlenet{background:#00B4FF;border-color:#008fcc;color:#fff}
.btn-discord{background:#7289da;border-color:#4a67cf;color:#fff}
.btn-twitch:hover,.btn-steam:hover,.btn-twitch:hover,.btn-battlenet:hover,.btn-facebook:hover,.btn-discord:hover{color:#fff}

.avatar{max-width:200px}
.avatar-thumb{max-width:50px}

.user{font-size:.813em;}
.user h5{font-size:1.2em}

.post{font-size:.813em;}
.post h5{font-size:1.2em}
.post .post-middle .post-title{margin:0}
.post .post-menu{list-style:none}
.post .post-menu li{margin-left:.375em;display:inline-block}

.comment{font-size:.813em;}
.comment h5{font-size:1.2em}

.profile{background:#292b2c; width: 100%;}
.profile .info{font-size:.813em;list-style:none;margin:0;padding:0}

.fa-check-circle{
    color: #4080ff;
    font-size: 0.8em;
}
.errorlist{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav .active{
    background: #424648;
    color: #fff;
}
.nav .active:hover{
    color: #449c44;
}