{% extends 'base.html' %}
{% load i18n %}
{% load pinax_messages_tags %}
{% block title %}Inbox{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'pinax/messages/messages_menu.html' %}
    </div>
    <div class="col-md-6">
        <h5><i class="far fa-envelope fa-fw text-info mr-1"></i> Inbox</h5>
        <p class="text-muted small">This information is to show your name and surname in the list of users, we will also show it in your profile.</p>
        <hr>
        {% for thread in threads %}
        <div class="media rounded bg-black-t small my-3 {% if thread|unread:user %}unread{% endif %}">
            <div class="media-body">
                <h6 class="my-0 px-3 pt-3"><a class="text-info" href="{{thread.get_absolute_url}}">{{ thread.subject }}</a> - <small>@{{ thread.users.all|join:", @" }}</small></h5>
                <hr>
                <div class="px-3">
                    {{ thread.latest_message.content|urlize|linebreaks }}
                </div>
            </div>
        </div>
        {% empty %}
            <div class="alert alert-info small" role="alert">
                You have no messages.
            </div>
        {% endfor %}
    </div>
    <div class="col-md-3">
        <a class="btn btn-success btn-lg btn-block" href="{% url 'pinax_messages:message_create' %}" role="button"><i class="far fa-envelope fa-fw mr-1"></i> New Message</a>
    </div>
</div>
{% endblock %}