{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}New Message{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'pinax/messages/messages_menu.html' %}
    </div>
    <div class="col-md-6">
        <h5 class="my-3">New Message</h5>
        <form class="comment-form" action="{% url "pinax_messages:message_create" %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="my-3 rounded bg-dark p-3 text-light">
                <a class="btn btn-warning" href="{% url "pinax_messages:inbox" %}"><i class="fas fa-fw fa-ban mr-1"></i> Cancel</a>
                <button class="btn btn-success float-right" type="submit"><i class="fas fa-fw fa-envelope mr-1"></i> Send</button>
                <div class="clearfix"></div>
            </div>
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}