{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}New Message{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'pinax/messages/messages_menu.html' %}
    </div>
    <div class="col-md-6">
        <h5><i class="far fa-envelope fa-fw text-info mr-1"></i> New Message</h5>
        <p class="text-muted small">Create a private message and communicate with players from around the world. Please follow the rules of the community and do not spam or you will be banned.</p>
        <hr>
        <form class="comment-form" action="{% url "pinax_messages:message_create" %}" method="post">
            <div class="rounded bg-black-t p-3">
                {% csrf_token %}
                {% bootstrap_form form %}
            </div>
            {% buttons %}
            <div class="rounded bg-black-t p-3 my-3">
                <a class="btn btn-danger btn-sm px-3" href="{% url "pinax_messages:inbox" %}"><i class="fas fa-ban fa-fw mr-1"></i> Cancel</a>
                <button type="submit" class="btn btn-success btn-sm px-3 float-right"><i class="far fa-envelope fa-fw mr-1"></i> Send</button>
            </div>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}