{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}{{ thread.subject }}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'pinax/messages/messages_menu.html' %}
    </div>
    <div class="col-md-6">
        <h5><i class="far fa-envelope fa-fw text-info mr-1"></i> {{ thread.subject }}</h5>
        <p class="text-muted small">Avoid sending data from your credit cards, bank accounts, address, email or phone numbers. It's for your own privacy.</p>
        <hr>
        {% for message in thread.messages.all %}
        <div class="media rounded bg-black-t small my-3">
            <div class="media-body">
                <h6 class="px-3 pt-3">{{ message.sender.get_full_name }} <a class="text-info small" href="{% url 'userprofile' message.sender.username %}">@{{ message.sender.username }}</a> <span class="float-right small text-muted mt-1">{{ message.sent_at }}</span></h6>
                <hr>
                <div class="px-3">
                {{ message.content|urlize|linebreaks }}
                </div>                
            </div>
        </div>
        {% endfor %}
        <form class="comment-form" action="{% url "pinax_messages:thread_detail" thread.pk %}" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <a class="btn btn-warning btn-sm" href="{% url "pinax_messages:inbox" %}"><i class="fas fa-ban fa-fw mr-1"></i> Cancel</a>
            <a class="btn btn-danger btn-sm" href="{% url "pinax_messages:thread_delete" thread.pk %}"><i class="fas fa-trash-alt fa-fw"></i></a>
            <button type="submit" class="btn btn-success btn-sm px-3 float-right"><i class="far fa-envelope fa-fw mr-1"></i> Send</button>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}