{% extends "base.html" %}
{% load bootstrap4 %}
{% block title %}Delete Messages{% endblock %}
{% load i18n %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'pinax/messages/messages_menu.html' %}
    </div>
    <div class="col-md-6">
        <h5><i class="far fa-envelope fa-fw text-info mr-1"></i> Delete "{{ thread.subject }}" message?</h5>
        <p class="text-muted">Press the delete button only if you are sure to erase the entire message thread. It will not be possible to recover the messages after deleting them.</p>
        <hr>
        {% url "pinax_messages:thread_delete" thread.pk as post_url %}
        <form action="{{ post_url }}" method="POST">
            {% csrf_token %}
            {% buttons %}
            <a class="btn btn-warning btn-sm px-3" href="{% url "pinax_messages:inbox" %}"><i class="fas fa-ban fa-fw mr-1"></i> Cancel</a>
            <button type="submit" class="btn btn-danger btn-sm px-3 float-right"><i class="fas fa-trash-alt fa-fw mr-1"></i> Delete</button>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}