<h3>Sync your accounts</h3>
<div class="omnibox">
    <a class="btn btn-steam" href="{% url "social:begin" "steam" %}" role="button"><i class="fa fa-steam" aria-hidden="true"></i> Login with Steam</a>
    <a class="btn btn-twitch" href="{% url "social:begin" "twitch" %}" role="button"><i class="fa fa-twitch" aria-hidden="true"></i> Login with Twitch.tv</a>
    <a class="btn btn-facebook" href="{% url "social:begin" "facebook" %}" role="button"><i class="fa fa-facebook-official" aria-hidden="true"></i> Login with Facebook</a>
</div>