{% if user.get_full_name|length < 1 or user.userprofile.avatar|length < 1 or user.userprofile.header|length < 1 or user.userprofile.bio|length < 1 or user.userprofile.website|length < 1 %}
{% if user.is_authenticated %}
<div class="alert alert-info p-0 mb-3 small" role="alert">
    <h6 class="px-3 pt-3"><i class="fas fa-user-secret text-info mr-1"></i> Complete your Profile!</h6>
    <hr class="mb-0">
    <ul class="list-none p-3 m-0">
        <li class="mb-2">Hello @{{user.username}}!, we need to know more about you, also your followers. Please fill in all your information.</li>
        <li class="mb-1">What we need to help you?</li>
        <ul class="pl-3 pt-0">
            {% if not user.get_full_name %}<li><i class="fas fa-font fa-fw"></i> Complete your Name.</li>{% endif %}
            {% if not user.userprofile.header %}<li><i class="far fa-image fa-fw"></i> Upload a header image.</li>{% endif %}
            {% if not user.userprofile.avatar %}<li><i class="far fa-user-circle fa-fw"></i> Upload an avatar image.</li>{% endif %}
            {% if not user.userprofile.bio %}<li><i class="far fa-meh fa-fw"></i> Complete your bio.</li>{% endif %}
            {% if not user.userprofile.website %}<li><i class="fas fa-link fa-fw"></i> Add your Website URL.</li>{% endif %}
        </ul>
    </ul>
    <a class="btn btn-info btn-sm btn-block" href="{% url 'userprofile_basic' %}" role="button">Please, Complete it</a>
</div>
{% endif %}
{% endif %}