{% load thumbnail %}
<div class="media rounded-bottom bg-black-t p-3">
    <a class="mr-3 rounded-circle" href="{% url 'userprofile' user %}"><img class="rounded-circle" src="{{user.userprofile.avatar|thumbnail_url:'avatar_50x50'|default:'/media/user/avatar/avatar_50x50.png'}}" alt="{% if user.get_full_name %}{{user.get_full_name}} - {% endif %}@{{user.username}} avatar."></a>
    <div class="media-body">
        {% if user.get_full_name %}
        <p class="mb-0 mt-1"><a class="text-white" href="{% url 'userprofile' user %}">{{user.get_full_name}}</a></p>
        {% endif %}
        <a class="mb-0 text-muted" href="{% url 'userprofile' user %}" >@{{user.username}} {% if user.is_staff %}<i class="fas fa-check-circle fa-fw text-primary"></i>{% endif %}</a>
    </div>
</div>