{% load static %}
{% load bootstrap4 %}
{% load account socialaccount %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% bootstrap_css %}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Gemu - {% block title %}{% endblock %}</title>    
    </head>
    <body class="bg-dark text-white">
        {% block header %}{% include 'header.html' %}{% endblock %}
        <main>
            <div class="container my-3">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% block footer %}{% include 'footer.html' %}{% endblock %}
        {% bootstrap_javascript jquery='full' %}
    </body>
</html>