<footer id="footer" class="fixed-bottom bg-dark py-2">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <p class="m-0 small text-muted"><i class="fas fa-rocket fa-fw text-info"></i> <i class="far fa-copyright"></i> Gemu {% now 'Y' %}</p>
            </div>
            <div class="col-md-9">
                <nav class="float-right">
                    <ul class="list-none m-0 p-0 small">
                        <li class="mr-2"><a class="text-info" href="#">About Us</a></li>
                        <li class="mx-2"><a class="text-info" href="#">Privacy Policy</a></li>
                        <li class="mx-2"><a class="text-info" href="#">Terms of Use</a></li>
                        <li class="ml-2"><a class="text-info" href="#">Status</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>