{% extends 'base.html' %}
{% load thumbnail %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="rounded bg-black-t mb-3">
            <h1 class="text-center h2 pt-5 mb-2"><i class="fas fa-rocket fa-fw text-info"></i> Gemu</h1>
            <small class="mb-4 text-center d-block w-75 mx-auto">Open Source Gaming Social Network</small>
            <div class="px-3">
                <a class="btn btn-success btn-block font-weight-bold" href="{% url 'account_signup' %}" role="button"><i class="fas fa-sign-in-alt fa-fw"></i> Sign up</a>
            </div>
            <hr>
            <div class="px-3 pb-3">
                <p class="text-center small"><b>Hello adventurer!</b> By clicking on this button you can log in or sign up with any of your social networks like <b>Twitch, Battle.net or Youtube.</b></p>
                <p class="mb-0 text-center small">Before doing so, please read our <b>code of conduct</b> because if you break the rules you could be banned permanently.</p>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img class="img-fluid rounded mb-3" src="http://via.placeholder.com/1920x1080">
        <div class="rounded bg-black-t mb-3">
            <div class="media px-3 pt-3">
                <i class="fas fa-rocket fa-fw text-info h1 mr-3 mb-0"></i>
                <div class="media-body">
                    <h5 class="mb-0">Gemu</h5>
                    <p class="mb-0 text-muted font-weight-bold">Open Source Gaming Social Network</p>
                </div>
            </div>
            <hr>
            <ul class="list-none m-0 px-3 pb-3">
                <li class="mb-2">My name is Cesar Cotiz Frontend / Backend Developer of Gemu, lover of video games as much as you.</li>
                <li class="mb-2">We are a social network of players from all over the world made with love in Venezuela and Colombia.</li>
                <li class="mb-2">Our goal is that everyone can use it to get the best friendships, experiences and above all have fun on the road.</li>
                <li class="mb-0">We have organized it so that everyone can synchronize their social networks to enjoy it in a faster and safer way.</li>
            </ul>
        </div>
    </div>
    <div class="col-md-3">
        <div class="rounded bg-black-t mb-3">
            <h2 class="mb-0 px-3 pt-3 h6"><i class="fas fa-globe fa-fw text-info mr-1"></i> Last Registered Gamers</h2>
            <hr class="mb-0">
            {% for user in users %}
            <div class="media border-bottom border-black-t p-3">
                <a class="mr-3 rounded-circle" href="{% url 'userprofile' user %}"><img class="rounded-circle" src="{{users.userprofile.avatar|thumbnail_url:'avatar_50x50'|default:'/media/user/avatar/avatar_50x50.png'}}" alt="{% if user.get_full_name %}{{user.get_full_name}} - {% endif %}@{{user.username}} avatar."></a>
                <div class="media-body">
                    {% if user.get_full_name %}
                    <p class="mb-0 mt-1 small"><a class="text-white" href="{% url 'userprofile' user %}">{{user.get_full_name}}</a></p>
                    {% endif %}
                    <a class="mb-0 text-muted small" href="{% url 'userprofile' user %}" >@{{user.username}} {% if user.is_staff %}<i class="fas fa-check-circle fa-fw text-primary small"></i>{% endif %}</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}