<div class="media user">
    <img class="img-responsive header" src="{{ i.follower.userprofile.header|thumbnail_url:'post'|default:'\media/header/default.png' }}">
    <div class="media-left">
        <a href="#"><img class="media-object img-responsive img-circle" src="{{ i.follower.userprofile.avatar|thumbnail_url:'avatar_thumb'|default:'\media/avatar/default.png' }}" alt="..."></a>
    </div>
    <div class="media-body">
        <h5 class="media-heading"><a href="{% url 'userprofile' i.follower.username %}"> {{ i.follower.get_full_name }}</a> {% if i.follower.is_staff is True %}<span class="glyphicon glyphicon-ok-circle" data-toggle="tooltip" data-placement="right" title="Site Administrator" aria-hidden="true"></span>{% endif %} <small><a href="{% url 'userprofile' i.follower.username %}">@{{ i.follower.username }}</a></small></h5>
        <ul class="user-dscrptn">
            <li><span>{{ i.follower.userprofile.location }}</span></li>
        </ul>
        <div class="clearfix"></div>
        <ul class="user-options pull-right">
            <li><span>Followers: {{ i.follower.follower.count }}</span></li>
            <li><span>Following: {{ i.follower.following.count }}</span></li>
            <li><a href="{% url 'userprofile' i.follower.username %}"><span>See Profile</span></a></li>
        </ul>
    </div>
</div>