{% load custom_filters %}
{% load thumbnail %}
{% load humanize %}
<div class="post mb-3 bg-black-t rounded">
    {% if post.image %}
    <img class="img-fluid" src="{{post.image|thumbnail_url:'post'|default:'/media/post/image/post.png'}}">
    {% elif post.video %}
    {{ post.video|youtube_embed_url|safe }}
    {% endif %}
    <div class="media p-3">
        <a class="mr-3 rounded-circle" href="{% url 'userprofile' post.user %}"><img class="rounded-circle" src="{{post.user.userprofile.avatar|thumbnail_url:'avatar_50x50'|default:'/media/user/avatar/avatar_50x50.png'}}" alt="{% if post.user.get_full_name %}{{post.user.get_full_name}} - {% endif %}@{{post.user.username}} avatar."></a>
        <div class="media-body">
            {% if post.user.get_full_name %}
            <p class="my-1 small"><a class="text-white" href="{% url 'userprofile' post.user %}">{{post.user.get_full_name}}</a> <a class="text-muted" href="{% url 'userprofile' post.user %}">@{{post.user.username}}{% if post.user.is_staff %} <i class="fas fa-check-circle fa-fw text-primary small"></i>{% endif %}</a> <span class="mt-1 float-right text-muted small">{{post.date_created}}</span></p>
            {% endif %}
            <p class="mb-0 text-muted small">{{post.text}}</p>
        </div>
    </div>
    <ul class="nav nav-pills nav-fill border-top border-black-t">
        <li class="nav-item">
            <a class="nav-link btn-sm text-muted" href="#"><i class="fas fa-heart fa-fw"></i> Like</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-sm text-muted" href="{% url 'post_detail' post.id %}"><i class="fas fa-comment-alt fa-fw"></i> Comment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-sm text-muted" href="#"><i class="fas fa-share fa-fw"></i> Share</a>
        </li>
    </ul>    
</div>