{% load humanize %}
{% load thumbnail %}
<div class="media mb-3 rounded bg-black-t p-3">
    <img class="mr-3 rounded-circle" src="{{comment.user.userprofile.avatar|thumbnail_url:'avatar_50x50'|default:'/media/user/avatar/avatar_50x50.png'}}" alt="{{comment.user.get_full_name}} - @{{comment.user.username}} avatar.">
    <div class="media-body">
        <p class="h6 my-1 small">{% if comment.user.get_full_name %}{{comment.user.get_full_name}} {% endif %}<a class="text-muted font-weight-light" href="#">@{{comment.user.username}}</a> {% if comment.user.is_staff is True %}<i class="fas fa-check-circle fa-fw text-primary small"></i>{% endif %}<span class="mt-1 float-right small text-muted">{{comment.date_created|naturaltime}}</span></h6>
        <p class="small mb-0">{{comment.text}}</p>
    </div>
</div>