{% extends 'base.html'%}
{% load i18n %}
{% load bootstrap4 %}
{% block title %}Delete Post{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <form method="post">

            {% csrf_token %}

            <div class="form-group">

                {% include "post/post.html" %}

            </div>
            {% buttons %}
            <div class="bg-black-t rounded p-3 my-3">
                <a class="btn btn-warning btn-sm px-3" href="{% url 'index' %}" role="button"><i class="fas fa-times fa-fw"></i> Cancel</a>
                <button type="submit" class="btn btn-danger btn-sm float-right px-3"><i class="fas fa-times fa-fw"></i> Delete Post</button>
            </div>
            {% endbuttons %}
        </form>
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}