{% extends 'base.html' %}
{% block title %}@{{post.user.username}} - {{post.text}}{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include "timeline/timeline_user.html" %}
        {% include "timeline/timeline_menu.html" %}
    </div>
    <div class="col-md-6">
        {% include "post/post.html" %}
        <h6 class="mb-3"><i class="far fa-comments fa-fw text-info mr-1"></i> Comments ({{ comments.count }})</h6>
        {% if comments %}
        {% for comment in comments %}
        {% include "post/post_detail_comment.html" %}
        {% endfor %}
        {% endif %}
        {% if user.is_authenticated %}
        <div class="bg-black-t rounded p-3 my-3">
            <a class="btn btn-danger btn-sm px-3" href="{% url 'index' %}" role="button"><i class="fas fa-times fa-fw"></i> Cancel</a>
            <a class="btn btn-success btn-sm float-right px-3" href="{% url 'post_comment_create' post.id %}" role="button"><i class="fas fa-paper-plane fa-fw"></i> New Comment</a>
        </div>
        {% endif %}
    </div>
    <div class="col-md-3"></div>
</div>
{% endblock %}