{% load custom_filters %}
{% load thumbnail %}
{% load humanize %}
<div class="post mb-3 bg-black-t rounded">
    {% if post.image %}
    <img class="img-fluid rounded-top" src="{{post.image|thumbnail_url:'post'|default:'/media/post/image/post.png'}}">
    {% elif post.video %}
    {{ post.video|youtube_embed_url|safe }}
    {% endif %}
    <div class="media post p-3">
        <img class="rounded-circle mr-3" src="{{post.user.uprofile.avatar|thumbnail_url:'avatar_post'|default:'/media/user/avatar/avatar_post.png'}}" alt="Generic placeholder image">
        <div class="media-body">
            <h6 class="my-1"><a class="text-white" href="#">{{post.user.get_full_name}}</a>{% if post.user.is_staff is True %}<i class="far fa-check-circle fa-fw text-primary small mx-1"></i>{% endif %}<a class="text-info small" href="{% url 'uprofile' post.user %}">@{{post.user.username}}</a> <span class="small text-muted float-right mt-1">{{post.date_created|naturaltime}}</span></h6>
            <p class="mb-0 small">{{post.text}}</p>
        </div>
    </div>
    <ul class="nav nav-pills nav-fill border-top border-black-t">
        <li class="nav-item">
            <a class="nav-link btn-sm text-muted" href="#"><i class="fas fa-heart fa-fw"></i> Like</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-sm text-muted" href="{% url 'post_detail' post.id %}"><i class="fas fa-comment-alt fa-fw"></i> Comment</a>
        </li>
        <li class="nav-item">
            <a class="nav-link btn-sm text-muted" href="#"><i class="fas fa-share fa-fw"></i> Share</a>
        </li>
    </ul>
</div>