{% extends 'base.html'%}
{% load thumbnail %}
{% block title %}Explore{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-3">
        {% include 'explore/explore_user.html' %}
        {% include 'explore/explore_menu.html' %}
    </div>
    {% if mode == 'explore'%}
    <div class="col-md-6">
        <h5><i class="far fa-compass fa-fw text-info mr-1"></i> Explore</h5>
        <p class="text-muted">If you want to explore our social network you are free to do so. Just respect the rules of the community and everything will be fine.</p>
        <hr>
        <h6 class="mb-3"><i class="fas fa-gamepad fa-fw text-info mr-1"></i> Players <a class="mt-1 float-right small text-muted" href="{% url 'explore_users' %}"><i class="fas fa-angle-right mr-1"></i> See all</a></h6>
        <div class="row">
        {% for user in users %}
        <div class="col-md-6">
            {% include 'explore/explore_user.html' %}
        </div>
        {% endfor %}
        </div>
        <hr>
        <h6 class="mb-3"><i class="fas fa-globe fa-fw text-info mr-1"></i> Public Posts <a class="mt-1 float-right small text-muted" href="{% url 'explore_users' %}"><i class="fas fa-angle-right mr-1"></i> See all</a></h6>
        {% for post in posts %}
        {% include 'post/post.html'%}
        {% endfor %}
    </div>
    <div class="col-md-3">
        {% include 'explore/explore_aside_right.html' %}
    </div>
    {% elif mode == 'explore_posts' %}
    <div class="col-md-6">
        <h5><i class="fas fa-globe fa-fw text-info mr-1"></i> Public Posts</h5>
        <p class="text-muted">Explore random posts and comment on what you want, most of the players are friendly. And if you want to know more about them, follow them.</p>
        <hr>
        {% for post in posts %}
        {% include 'post/post.html'%}
        {% endfor%}
    </div>
    <div class="col-md-3">
        {% include 'explore/explore_aside_right.html' %}
    </div>
    {% elif mode == 'explore_users' %}
    <div class="col-md-9">
        <h5><i class="fas fa-globe fa-fw text-info mr-1"></i> Players</h5>
        <p class="text-muted">Explore random posts and comment on what you want, most of the players are friendly. And if you want to know more about them, follow them.</p>
        <hr>
        <div class="row">
            {% for user in users %}
            <div class="col-md-4">
            {% include 'explore/explore_user.html'%}
            </div>
            {% endfor%}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
